<section class="col-md-8 col-md-offset-2 spacing">
    <!--<form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">-->
        <div class="panel-body">
            <label for="username">Username</label>
            <input type="text"  id="username" [ngModel]=currentUserProfile?.username class="form-control"  name="username" #input/>

            <label for="email">Email</label>
            <input type="text"  id="email" [ngModel]="currentUserProfile?.email" class="form-control" name="email" #input/>
        
            <label for="firstName">First name</label>
            <input type="text" id="firstName" [ngModel]="currentUserProfile?.firstName" class="form-control"  name="firstName" #input/>
        
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" [ngModel]="currentUserProfile?.lastName" class="form-control"  name="lastName" #input/>
        </div>
        <footer class="panel-footer clearfix">
            <div class="config pull-right">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button> 
                <button type="button" class="btn btn-danger" (click)="onClick()">Cancel</button>
            </div>
        </footer>
    <!--</form>-->
</section>