<section class="col-md-8 col-md-offset-2 spacing">
     <div class="panel-body">
         <button type="submit" class="btn btn-primary" (click)="getUserCreatedHubs()">My Hubs</button>
         <button type="submit" class="btn btn-success" (click)="getUserSubbedHubs()">Subscribed hubs</button>
    </div>
    <form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
         <div class="panel-body">
             <label for="username">Username</label>
             <input type="text" ngControl="username" [ngModel]="user?.username" id="username" class="form-control"  [formControl]="form.controls['username']" name="username" #input>
 
             <label for="email">Email</label>
             <input type="text" ngControl="email" [ngModel]="user?.email" id="email" class="form-control" [formControl]="form.controls['email']" name="email" #input/>
         
             <label for="firstName">First name</label>
             <input type="text" ngControl="firstName" [ngModel]="user?.firstName" id="firstName" class="form-control" [formControl]="form.controls['firstName']" name="firstName" #input/>
         
             <label for="lastName">Last name</label>
             <input type="text" ngControl="lastName" [ngModel]="user?.lastName" id="lastName" class="form-control" [formControl]="form.controls['lastName']" name="lastName" #input/>
         </div>
         <footer class="panel-footer clearfix">
             <div class="config pull-right">
                 <button type="submit" class="btn btn-primary" [disabled]="form.pristine || form.invalid">Save</button> 
                 <button type="button" class="btn btn-danger" (click)="goBack()">Cancel</button>
             </div>
         </footer>
     </form>
 </section> 