<article class="panel panel-default">
    <div class="panel-heading">
        {{user.username}}
    </div>
    <div class="panel-body">
        <label for="email">Email: </label>
        <p>{{user.email}}</p>        

        <div *ngIf="user.firstName != ''">
            <label for="firstName">First name: </label>
            <p>{{user.firstName}}</p>
        </div>
        <div *ngIf="user.lastName != ''">
            <label for="lastName">Last name: </label>
            <p>{{user.lastName}}</p>
        </div>
    </div>
    <footer class="panel-footer clearfix">
        <div class="pull-left col-lg-12">
            <p [innerText]='user.isAdmin ? "Admin" : "Not an Admin"'>
        </div>
        <div>
            <div class="pull-left">
                <a (click)="viewUserProfile()" class="btn btn-success" disabled> View </a>
                <a (click)="followUser()" class="btn btn-primary" disabled>Follow</a>
            </div>
            <div class="config pull-right">
                <a (click)="editUser()" class="btn btn-warning"> Edit </a>
                <a (click)="deleteUser()" class="btn btn-danger"> Delete </a>
            </div>
        </div>
    </footer>
</article>