<h1>Works finally :D</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Menu     
        <span class="pull-right" *ngIf="user">
            Currently logged in as <strong>{{user?.username}}</strong>
        </span>
        </h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li role="presentation"><a [routerLink]="['/']">Hubs</a></li>
            <li role="presentation"><a [routerLink]="['/hub/create']" *ngIf="isLoggedIn()">Create Hub</a></li>
            <li role="presentation"><a [routerLink]="['/signup']" *ngIf="!isLoggedIn()">Signup</a></li>
            <li role="presentation"><a [routerLink]="['/signin']" *ngIf="!isLoggedIn()">Signin</a></li>
            <li role="presentation"><a [routerLink]="['/profile']" *ngIf="isLoggedIn()">Profile</a></li>
            <li role="presentation"><a [routerLink]="['/users']" *ngIf="isAdmin()">Users</a></li>
            <li role="presentation"><a [routerLink]="['/logout']" *ngIf="isLoggedIn()">Log out</a></li>
        </ul>
        <router-outlet></router-outlet>
    </div>
    <error-component></error-component>
</div>
