<article class="panel panel-default">
    <div class="panel-heading">
        {{hub?.title}}
    </div>
    <div class="panel-body">
        <!--{{hub.description}}-->
        <hub-message *ngFor="let message of hubMessages" [message]="message"></hub-message>
        <form *ngIf="isLoggedIn()" (ngSubmit)="onSubmit(messageForm)" #messageForm="ngForm">
            <input type="text" id="content" class="form-control" ngModel name="content" #message="ngModel" required/>
            <button type="submit" class="btn btn-primary">Send</button>  
        </form>
        <button type="button" (click)="goBack()" class="btn btn-default">Back</button>  
    </div>
    <footer class="panel-footer clearfix">
        <div class="author pull-left">
            <!--Created by {{hub.ownerUsername}}-->
        </div>
        <div class="config pull-right">
            <!--<a (click)="viewHub()"> View </a>-->
        </div>
        <div class="config pull-right">
            <!--<a (click)="subscribeHub()"> Subscribe </a>-->
        </div>
        <div class="config pull-right">
            <!--<a (click)="editHub()"> Edit </a>-->            
            <!--<a (click)="deleteHub()"> Delete </a>-->
        </div>
    </footer>
</article>