<article class="panel panel-default" *ngIf="show">
    <div class="panel-heading">
        {{hub.title}}
    </div>
    <div class="panel-body">
        {{hub.description}}
    </div>
    <footer class="panel-footer clearfix">
        <div class="author pull-left">
            Created by {{hub.owner.username}}
        </div>
        <div class="config pull-right">
            <button type="button" (click)="viewHub()" class="btn btn-primary">View</button> 
        </div>
        <div *ngIf="isLoggedIn() && !isOwner()">
            <a (click)="subscribeHub()"> Subscribe </a>
        </div>
        <div *ngIf="isOwner()">
            <button type="button" (click)="editHub()" class="btn btn-warning">Edit</button> 
            <button type="button" (click)="deleteHub()" class="btn btn-danger">Delete</button> 
        </div>
    </footer>
</article>