<div class="backdrop" [ngStyle]="{'display': errorDisplay}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': errorDisplay}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="onErrorHandle()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{currentError?.title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{currentError?.description}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onErrorHandle()">Close</button>
            </div>
        </div>
    </div>
</div>